:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color-scheme: light dark;
  accent-color: var(--text);
}
@media (prefers-color-scheme: light) {
  .auto {
    --bg: rgb(241, 241, 241);
    --text: rgb(57, 57, 57);
    --selected-bg: #1b5398;
    --selected-bg-hover: #1b5398;
    --selected-text: rgb(241, 241, 241);
    --text-hover: rgb(29, 29, 29);
    --bg-hover: #e5f1ff;
    --btn-text-color: #5252e0;
    --link-color: #0156b2;
    --menu-bg: hsla(0, 0%, 51%, 0.19);
    --menu-bg-hover: #cce5ff;
    --input-border: hsl(125, 100%, 5%);
    accent-color: var(--text);
  }
}
@media (prefers-color-scheme: dark) {
  .auto {
    --bg: #202124;
    --text: rgb(194, 194, 194);
    --selected-bg: #006e99;
    --selected-text: white;
    --text-hover: rgb(234, 234, 234);
    --bg-hover: #273f5d;
    --btn-text-color: #5252e0;
    --link-color: #81b3e9;
    --menu-bg: hsla(0deg, 0%, 100%, 0.17);
    --menu-bg-hover: rgba(255, 255, 255, 0.538);
    --input-border: hsl(0deg 0% 100%);
    --input-outline: rgb(255 255 255 / 40%);
  }
}
.light {
  --bg: rgb(241, 241, 241);
  --text: rgb(57, 57, 57);
  --selected-bg: #1b5398;
  --selected-bg-hover: #1b5398;
  --selected-text: rgb(241, 241, 241);
  --text-hover: rgb(29, 29, 29);
  --bg-hover: #e5f1ff;
  --btn-text-color: #5252e0;
  --link-color: #0156b2;
  --menu-bg: hsla(0, 0%, 51%, 0.19);
  --menu-bg-hover: #cce5ff;
  --input-border: hsl(125, 100%, 5%);
  --input-outline: rgba(110, 110, 110, 0.29);
  accent-color: var(--text);
}
.dark {
  --bg: #202124;
  --text: rgb(194, 194, 194);
  --selected-bg: #006e99;
  --selected-text: white;
  --text-hover: rgb(234, 234, 234);
  --bg-hover: #273f5d;
  --btn-text-color: #5252e0;
  --link-color: #81b3e9;
  --menu-bg: hsla(0deg, 0%, 100%, 0.17);
  --menu-bg-hover: rgba(255, 255, 255, 0.538);
  --input-border: hsl(0deg 0% 100%);
  --input-outline: rgb(255 255 255 / 40%);
}
body {
  background: var(--bg);
  color: var(--text);
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  color-scheme: light;
}

.category:hover,
.bookmark:hover {
  color: var(--text-hover);
}

.btn {
  border: none;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  background: deepskyblue;
  color: white;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.btn.text {
  background: transparent;
  color: var(--btn-text-color);
}
.btn.text:hover {
  background: rgba(0, 0, 255, 0.179);
  color: blue;
}

.btn.red {
  background: #f43f5f;
}
.btn.red:hover {
  background: hsl(349, 89%, 50%);
}

.btn.green {
  background: green;
}
.btn.green:hover {
  background: hsl(120, 90%, 23%);
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}
ul {
  list-style: none;
  background: rgba(255, 255, 255, 0.851);
  padding: 0.25rem 0;
  backdrop-filter: blur(3px);
  color: #495057;
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 12.5rem;
}
li {
  min-width: 100px;
  padding: 0.65rem 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
li:hover {
  background: rgba(224, 232, 255, 0.851);
}
.category {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 0.1rem;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.13);
  border: 1px solid rgba(128, 128, 128, 0.169);
  border-radius: 0.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 41px;
}
.category > span {
  flex: 1;
}
.menu {
  background: var(--menu-bg);
  border-radius: 24px;
  border: none;
  height: 36px;
  width: 36px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu:hover {
  background: var(--menu-bg-hover);
}
.category.selected {
  background: var(--selected-bg);
  color: var(--selected-text);
}

.input {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.2rem 0;
  border: 1.5px solid var(--input-border);
  border-radius: 0.3rem;
  background: var(--bg);
  color: var(--text);
}

.input:focus-visible {
  outline: 3px solid var(--input-outline);
}

.bookmark {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: rgba(128, 128, 128, 0.13);
  border: 1px solid rgba(128, 128, 128, 0.169);
  border-radius: 0.2rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
  min-height: 72px;
}

.bookmark > a {
  text-decoration: none;
  color: var(--link-color);
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.category.selected {
  background: var(--selected-bg);
  color: var(--selected-text);
}
.category:hover,
.bookmark:hover {
  background: var(--bg-hover);
  color: var(--text-hover);
}
.category.is-active,
.bookmark.is-active {
  background: #f43f5f;
}

.bookmark > .menu {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 36px;
  height: 36px;
}
.bookmark > .favicon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background: white;
}
.bookmark > .favicon > img {
  width: 24px;
  height: 24px;
}

.add-new {
  font-size: 1rem;
  background: #5f5f5f;
  color: white;
}
.add-new:hover {
  font-size: 1rem;
  background: #383838;
  color: white;
}
.menu-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--text);
}
.btn-export {
  background: var(--text);
  color: var(--bg);
  border: none;
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  width: 100%;
}
.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0.075rem solid #ddd;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.file-custom:after {
  content: "Choose backup file to restore";
}
.file-custom:before {
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
}

/* Focus */
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #0074d9;
}
